option_settings:
  "aws:elasticbeanstalk:container:python":
    WSGIPath: flaskapp/application.py
    
Resources:
  AWSEBAntiScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Access:
          type:S3
          roleName: aws-elasticbeanstalk-ec2-role
          buckets: cpp-project-jtatu