boto3
Jinja2
botocore
certifi
charset-normalizer
click
cycler
dominate
Flask
Flask-Bootstrap
Flask-SQLAlchemy
fonttools
greenlet
idna
importlib-metadata
itsdangerous
jmespath
kiwisolver
MarkupSafe
matplotlib
numpy
oauthlib
packaging
pyparsing
python-dateutil
requests
requests-oauthlib
s3transfer
six
SQLAlchemy
tweepy
typing-extensions
urllib3
visitor
Werkzeug
zipp